@font-face {
    font-family: "Gunplay";
    src: local("Gunplay"),
    url(@/assets/fonts/gunplay.ttf) format("woff");
}

@font-face {
    font-family: "Impact";
    src: local("Impact"),
    url(@/assets/fonts/impact.ttf) format("truetype");
}
